<!-- root/queries/bingo-sql-mapper.xml -->
<mapper namespace="bingoMapper">

  <!-- SQLite 호환 allMusics -->
  <select id="allData" parameterType="object" resultType="object">
    select sq, no1, no2, no3, no4, no5, no6, no7 
      from tb_bingo 
     order by seq desc
    LIMIT #{limit} OFFSET #{offset}
  </select>

  <select id="getLast" parameterType="object" resultType="object">
    select sq, no1, no2, no3, no4, no5, no6, no7 
      from tb_bingo 
     order by seq desc
    LIMIT #{limit} OFFSET #{offset}
  </select>

  <!-- 그대로 사용 가능(문법 테스트 필요) -->
  <delete id="deleteMusicKeywords">
    delete from tb_bingo where seq = #{seq}
  </delete>

</mapper>